@font-face {
  font-family: Courgette;
  src: url(font/Courgette-Regular.ttf);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

.logo {
  cursor: pointer;
}

.nav__links a {
  font-family: "Courgette";
  font-weight: 500;
  color: #000000;
  text-decoration: none;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links li {
  padding: 0px 20px;
}

.nav__links li a {
  transition: color 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #ffa800;
}

.container {
  background-color: white;
  display: contents;
}

.circulo {
  background-color: #ffa800;
  height: 1000px;
  width: 1000px;
  border-radius: 50%;
}
