@font-face {
  font-family: Courgette;
  src: url(font/Courgette-Regular.ttf);
  font-family: Roboto;
  src: url(font/Roboto-Light.ttf);
  font-family: Mochiy;
  src: url(font/MochiyPopOne-Regular.ttf);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

.logo {
  cursor: pointer;
}

.nav__links a {
  font-family: "Courgette";
  font-weight: 500;
  color: #000000;
  text-decoration: none;
  font-size: 36px;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links li {
  padding: 0px 20px;
}

.nav__links li a {
  transition: color 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #ffa800;
}

h1 {
  display: flex;
  font-family: Mochiy;
  color: #ffa800;
}

p {
  display: flex;
  font-family: Roboto;
  font-size: 26px;
}

footer {
  background-color: #222222;
  padding: 16px;
}

.rodape p {
  font-size: 16px;
}
